.Share {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 36px;
}

.Share-button {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 5px;
  border: 1px solid #DDD;

  color: #AAA;

  background: #EEE;
}

.Share-button:hover {
  color: #999;
}

.Share-buttonImage {
  height: 18px;
  width: 18px;
  margin: 0 6px 0 0;
}
