
html {
  box-sizing: border-box;
}

html, body, #app, #app > div {
  height:100%;
  width:100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #F4F5F6;
  color: #485264;
  font-size: 16px;
  font-family: "citrixsans-regular", Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #1671a6;
}

a:hover {
  color: #156889;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  background: #FFF;
}

.Collections {
  background:#1E6DB9;
  color: #FFF;
  display: flex;
  flex-direction: column;
}
