.Breadcrumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 24px;
  padding: 12px 24px;

  color: #FFF;
  font-size: 16px;

  background: #004EF2;
}

.Breadcrumb-fragment {
  text-decoration: none;
  color: #FFF;
}

.Breadcrumb-fragment:hover {
  color: #E6E6E6;
}

.Breadcrumb-fragment--active {
  font-family: 'citrixsans-semibold', sans-serif;
}

.Breadcrumb-fragment:not(:first-child) {
  position: relative;
  padding-left: 24px;
}

.Breadcrumb-fragment:not(:first-child):before {
  content: '\/';
  color: #babbbf;
  position: absolute;
  top: 0;
  left: 11px;
}
