.Breadcrumb {
  margin-bottom: 24px;
  min-height: 52px;
  padding: 12px 24px;

  color: #FFF;
  font-size: 16px;

  background: #F8FAFB;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.Breadcrumb-fragment {
  text-decoration: none;
}

.Breadcrumb-fragment:hover {
  color: #E6E6E6;
}

.Breadcrumb-fragment--active {
  font-family: 'citrixsans-semibold', sans-serif;
  color: rgba(72, 82, 100, 0.75);
}

.Breadcrumb-fragment:not(:first-child) {
  position: relative;
  padding-left: 24px;
}

.Breadcrumb-fragment:not(:first-child):before {
  content: '\/';
  color: #babbbf;
  position: absolute;
  top: 0;
  left: 11px;
}
