.BluprintCard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.BluprintCard {
  display: block;
  width: 50%;
  max-width: 360px;
  margin: 24px;
  text-align: center;
  text-decoration: none;

  background: #FFF;
  background: linear-gradient(45deg, #044A6D, #67ADD6);
  border-radius: 2px;
  border: 1px solid #E0E0E0;
}

.BluprintCard--sharefile {
  background: linear-gradient(45deg, #1D793D, #A2C339);
}

.BluprintCard--netscaler {
  background: linear-gradient(45deg, #DADDE0, #F4F5F6);
}

.BluprintCard--rightSignature {
  background: #1170B0;
}


.BluprintCard-channelImage {
  margin: 24px auto;
}

.BluprintCard-footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;

  padding: 12px;
  background: #FFF;
  border-top: 1px solid #EEE;
}


.BluprintCard-label {
  margin: 0 0 12px;
  padding: 0;
  font-size: 24px;
}

.BluprintCard-description {
  max-height: 30px;
  margin: 0 0 24px;
  padding: 0;
}

.BluprintCard-button:hover {
  color: #FFF;
}


.BluprintCard-button {
  min-height: 42px;
}
