.BluprintCard-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.BluprintCard {
  display: block;
  width: 100%;
  max-width: 250px;
  padding: 48px;
  margin: 12px;

  text-align: center;
  text-decoration: none;

  background: #FFF;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
}

.BluprintCard-label {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.BluprintCard-description {
  margin: 0;
  padding: 0;
}
